@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202025;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  width: 334px;
  height: 216px;
  background: #f0f0f0;
  border-radius: 3px 3px 0 0;
  /* overflow-y: auto; */
  overflow: hidden;
  padding: 0;
}

.wrapper {
  /* padding: 5px; */
  width: 668px; /* 668*2= 1336px */
  height: 432px; /* 432*2= 864px */
  transform: scale(0.5);
  transform-origin: top left;
}
